<p>Bonjour,</p>
<p>
  Ceci est pour confirmer que <%= @user.email %> est l'adresse e-mail que vous
  souhaitez utiliser pour votre compte. Si jamais vous perdez votre mot de
  passe, c'est à cette adresse que nous enverrons un lien de réinitialisation.
</p>
<p>
  <strong
    >Vous devez cliquer sur le lien ci-dessous pour confirmer que vous avez bien
    reçu cet email.</strong
  >
</p>
<p>
  <%= link_to "Oui, utilisez cette adresse e-mail pour mon compte",
  "http://localhost:3000/confirmed?sid=#{@signed_id}", target: "_blank" %>
</p>
<hr />
<p>
  Vous avez des questions ou besoin d'aide ? Répondez simplement à cet email et
  notre équipe d'assistance vous aidera à régler le problème.
</p>
