<p>Bonjour,</p>
<p>
  Vous ne vous souvenez plus du mot de passe pour
  <strong><%= @user.email %></strong> ? Pas de problème, ça arrive. Il vous
  suffit de cliquer sur le lien ci-dessous pour en définir un nouveau.
</p>
<p>
  <%= link_to "Réinitialiser mon mot de passe",
  "http://localhost:3000/resehtttpassword/edit?sid=#{@signed_id}", target:
  "_blank" %>
</p>
<p>
  Si vous n'avez pas demandé de réinitialisation de mot de passe, vous pouvez
  ignorer cet email en toute sécurité, il expire dans 20 minutes. Seule une
  personne ayant accès à ce compte email peut réinitialiser votre mot de passe.
</p>
<hr />
<p>
  Vous avez des questions ou besoin d'aide ? Répondez simplement à cet email et
  notre équipe d'assistance vous aidera à régler le problème.
</p>
